@use '../../styles/_mixins';
@use '../../styles/_vars';

.button {
  padding: 8px 15px;
  font-family: vars.$defaultFontFamily;
  font-weight: 800;
  color: vars.$white;
  background-color: #0a980a;
  border: none;
  border-radius: vars.$borderRadiusSmall;
  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: #21b821;
  }

  &.active {
    background-color: #39d039;
  }

  &.disabled {
    pointer-events: none;
    background-color: #929292;
    color: #d9d9d9;
  }
}
