@use '../../styles/_mixins.scss';
@use '../../styles/_vars.scss';

.title {
  @include mixins.h1;
}

.reviews {
  .review {
    width: 100%;
    padding: 20px;
    border: 1px solid vars.$black;
    border-radius: 10px;
    & + .review {
      margin-top: 20px;
    }

    .reviewName {
      @include mixins.h2;
    }

    .reviewLink {
      @include mixins.link;
    }

    .reviewDescription {
      font-size: 18px;
    }
  }
}
