@use '../../styles/_mixins';
@use '../../styles/_vars';

.reviews {
  .review {
    width: 100%;
    padding: 20px;
    border: 1px solid vars.$black;
    border-radius: 10px;

    & + .review {
      margin-top: 20px;
    }

    .reviewLink {
      @include mixins.link;
    }
  }
}
