@use '../../styles/_mixins';
@use '../../styles/_vars';

.text {
  font-style: 14px;
  font-weight: 50;
  word-wrap: break-word;

  & > *:not(:first-child) {
    margin-top: 20px;
  }
}

.createdAt {
  font-size: 12px;
  margin-bottom: 10px;
}

.author {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 20px;
}

.updateButton {
  margin-top: 20px;
}
