@use '../../styles/_mixins.scss';
@use '../../styles/_vars.scss';

.title {
  @include mixins.h1;
  margin-bottom: 2px;
}

.description {
  font-size: 18px;
  margin-bottom: 20px;
}

.text {
  font-style: 14px;

  & > *:not(:first-child) {
    margin-top: 20px;
  }
}
