@use '../../styles/_mixins';
@use '../../styles/_vars';
@use '../../../node_modules/include-media/dist/include-media';

$breakpoint: '<=900px';

.layout {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  @include include-media.media($breakpoint) {
    flex-flow: column nowrap;
  }

  .navigation {
    height: 100%;
    overflow: auto;
    flex: 0 0 200px;
    padding: 20px 30px;
    border-right: 1px solid vars.$black;
    @include include-media.media($breakpoint) {
      overflow: visible;
      flex: 0 0 auto;
      border-right: none;
      border-bottom: 1px solid vars.$black;
      height: auto;
    }

    .logo {
      font-weight: bold;
      font-size: 20px;
      margin-bottom: 10px;
    }

    .menu {
      .item {
        &:not(:first-child) {
          margin-top: 5px;
        }

        .link {
          @include mixins.link;
          font-weight: 600;
        }
      }
    }
  }

  .content {
    height: 100%;
    overflow: auto;
    flex: 1 1 100%;
    padding: 20px 30px;
    @include include-media.media($breakpoint) {
      overflow: visible;
      flex: 0 0 auto;
      height: auto;
    }
  }
}
